<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Condominium
    </title>
    <link rel="shortcut icon" href="/resources/css/assets/icon/edificio (1).png" type="image/x-icon">
    <link rel="stylesheet" href="resources/css/inicio.css">
    <link rel="stylesheet" href="resources/css/perfil.css">

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>

<body>
    <div class="salir" onclick="redirect('/inicio')"></div>
    <div class="navigationMenu" id="navigationMenu" onclick="openMenu()">
        <ul>
            <li>
                <div class="arrow"></div>
            </li>
            <li class="list count" onclick="redirect('/cuentas')">
                <div class="i count"></div> <span class="ti">Cuentas</span>
            </li>
            <li class="list client" onclick="redirect('/clientes')">
                <div class="i client"></div> <span class="ti">Clientes</span>
            </li>
            <li class="list market" onclick="redirect('/mercado')">
                <div class="i market"></div> <span class="ti">Pagos</span>
            </li>
            <li class="list" onclick="redirect('/seguridad')">
                <div class="i secutiry"></div> <span class="ti">Seguridad</span>
            </li>
            <li class="list" onclick="redirect('/limpieza')">
                <div class="i clean"></div> <span class="ti">Limpieza</span>
            </li>
            <li class="list">
                <div class="i perfil"></div> <span class="ti">Perfil</span>
            </li>
        </ul>
    </div>

    <div class="dashboard">
        <div class="headSearch">
            <h2>Perfil</h2>
        </div>

        <form action="updateUser" method="post" class="formUser">
            
            <input type="text" value="<%= perfil[0].ID %>" name="id" hidden>
            <p>Nombre</p>
            <input type="text" placeholder="Nombre"     value="<%= perfil[0].nombre %>"     name="name"         id="name"     autocomplete="off" oninput="onlyText(event)">
            <p>Apellido</p>
            <input type="text" placeholder="Apellido"   value="<%= perfil[0].apellido %>"   name="lastname"     id="lastname" autocomplete="off" oninput="onlyText(event)">
            <p>Cedula</p>
            <input type="text" placeholder="Cedula"     value="<%= perfil[0].cedula %>"     name="identity"     id="identity" autocomplete="off" oninput="onlyNumber(event,8)">
            <p>Telefono</p>
            <input type="text" placeholder="Telefono"   value="<%= perfil[0].telefono %>"   name="phone"        id="phone" autocomplete="off" oninput="onlyNumber(event,11)">
            <p>Correo</p>
            <input type="text" placeholder="Correo"     value="<%= perfil[0].correo %>"     name="email"        id="email" autocomplete="off">
            <p>Contraseña</p>
            <input type="text" placeholder="Contraseña" value="<%= perfil[0].contrasena %>" name="password"     id="identity" autocomplete="off">

            <input type="submit" class="sign" value="Actualizar Perfil">
        </form>
    </div>

    <div class="rightInfo">
        <div class="logo"></div>
        <h3>Safe Condominum</h3>

        <p>Queremos brindarle el mejor servicio de administración de condominios, por eso nos enfocamos en las
            tecnologías de la información como una prioridad para nuestra organización. El sistema de condominio le
            dará las mejores herramientas, funcionalidades y comodidades para la gestión de su junta de condominio y
            los propietarios.</p>
    </div>

</body>

<script>
    let navigationMenu = document.getElementById('navigationMenu');

    let show = true;
    let btn = true;
    let open = true;
    let validateChar = false;
    let idClear;

    function search(filtro) {
        for (let i = 0; i < tableSecurity.length; i++) {
            if ((tableSecurity[i].innerHTML.toLowerCase().includes(filtro.toLowerCase()))) {
                tableSecurity[i].style.display = 'table-row';
            } else {
                tableSecurity[i].style.display = 'none';
            }
        }
    }

    function validarInputNumerico(input,min) {
        input.value = input.value.replace(/[0-9]/g, '');
        if (input.value.length > min) {
            input.value = input.value.slice(0, min);
        }
    }

    function onlyNumber(event,min) {
        const input = event.target;
        const inputValue = input.value;
        const newValue = inputValue.replace(/\D/g, '');
        input.value = newValue;
        if(input.value.length > min){
            input.value = input.value.substring(0, min - 1);
        }
    }

    function onlyText(event) {
        const input = event.target;
        const inputValue = input.value;
        const newValue = inputValue.replace(/[0-9]/g, '');
        input.value = newValue;
    }

    function charMin() {
        if (identify.value.length >= 8) {
            validateChar = true;
            identify.value = identify.value.substring(0, 7);
        }
    }

    function openMenu() {
        if (open) {
            navigationMenu.style.width = '300px'
            open = false
        } else {
            navigationMenu.style.width = '3%'
            open = true
        }
    }

    function redirect(page) {
        window.location.href = page
    }
</script>

</html>